registry=https://registry.npmmirror.com/
@sinoiov:registry=http://npm.sinoiov.com:4873/
sass_binary_site=https://cdn.npm.taobao.org/dist/node-sass
strict-peer-dependencies=true
engine-strict=true
only-built-dependencies=@parcel/watcher
